aiofiles==0.5.0                     #part of original req file 
fastapi==0.80.0                     #part of original req file was originally 0.60.1
celery==4.4.7                       #part of original req file 
redis==3.5.3                        #part of original req file 
firebase-admin==5.2.0               #part of original req file 

# uvicorn[standard]==0.15.0           #for fast API framework // might be able to remove this since docker image might contain it, check later 
# python-multipart==0.0.5             #for fast API framework // need this for file uploads 
# gunicorn==20.1.0                    #for fast API framework // might be able to remove this since docker image might contain it, check later 